#banner {
    width: 100%;  
}
#banner .fit{
    width: 100%;
    height: 100vh;
}
 #banner img{
   width: 100%;
   height: inherit;
} 
.boxed-btn3 {
    background: #1EC6B6;
    color: #fff;
    display: inline-block;
    padding: 18px 41px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  
  /* line 42, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_btn.scss */
  .boxed-btn3:hover {
    background: #FF4A52;
    color: #fff !important;
  }
  
  /* line 46, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_btn.scss */
  .boxed-btn3:focus {
    outline: none;
  }
  
  /* line 49, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_btn.scss */
  .boxed-btn3.large-width {
    width: 220px;
  }
  .slider_area .single_slider .slider_text h3 {
    font-family: "Nothing You Could Do", cursive;
    font-size: 150px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: .5;
    color: #fff;
    margin-bottom: 0;
}
.text_banner {
    font-size: 50px;
    font-family: "Nothing You Could Do", cursive;
    font-style: oblique;
    font-weight: bold;
}
.slider_text.text-center {
    position: absolute;
    bottom: 200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.slider_text p {
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    margin-top: 33px;
    margin-bottom: 49px;
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #7A838B;
    margin-bottom: 0px;
    font-family: "Rubik", sans-serif;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 768px) {
    #banner .fit{
        width: 100%;
        height: 50vh;
    }
  }
  @media (max-width: 576px) {
    #banner .fit{
        width: 100%;
        height: 30vh;
    }
    .slider_area .single_slider .slider_text h3 {
        font-size: 94px;
    }
  }

