@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  /* font-family: 'Nunito', sans-serif !important; */
  background-color: #fff;
  font-family: "Rubik", sans-serif;

}
.messagesSection {
  min-height: 70vh;
  max-height: 70vh;
  margin-top: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.text-white {
  color: #0a0000!important;
}
.btnfloat {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  margin: 2px;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fcf7;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
.heading span {
  font-size: 2rem;
  padding-top: 2rem;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}
.heading p {
  font-size: 1.1rem;
}
.hr {
  height: 4px;
  width: 200px;
  background-color: #1EC6B6;
  margin: 0 auto;
}
.xem-them {
  position: absolute;
  width: 100px;
  right: 5%;
  padding-bottom: 2rem;
  font-size: 1rem; 
}
.xem-them a {
  /* color: #030304 !important; */
  font-weight: bold;
}
#admin .heading h4{
  text-align: center;
}
#admin .form-control:focus{
  box-shadow: none; 
}
svg{
  vertical-align: baseline;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
  border: none !important;
}
.ant-layout-sider{
  min-height: 100vh;
  background: #eeeeee;
}
/* .ant-layout-sider-children {
  background-color: white;
} */
.ant-menu.ant-menu-dark {
  color: rgba(255, 255, 255, 0.65);
  background: #017cf0;
}
.spin{
  text-align: center;
}
#admin textarea {
  resize: none;
}
.spinner-border.text-success {
  left: -2%;
  position: relative;
  bottom: -10px;
  color: #3f51b5 !important;
}
#error{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#admin .content i{
  cursor: pointer;
}

